@model BankApplication.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div{
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 40px 80px;
        }
        .field-validation-error {
            color:red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Authorization", "Login", FormMethod.Post)) {
        <table>
            <tr>
                <td></td>
                <td style="text-decoration:underline">Bank Application</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CustomerID)
                </td>
                <td>
                    @Html.EditorFor(model => model.CustomerID)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.CustomerID, null, new { @class = "validation" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.EditorFor(model => model.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" value="Login" />
                    <input type="reset" name="name" value="Reset" />
                </td>
            </tr>



        </table>
        }
    </div>
</body>
</html>
