@model IEnumerable<BankApplication.Models.Customer>

@{
    Layout = null;
    if (Session["userID"] == null) {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>
        #box {
            width:1000px;
            margin-left:auto;
            margin-right:auto;
        }
        #logo {
            background-color: cornflowerblue;
            color:white;
            text-align:center;
            padding: 10px;
        }
        #nav {
            float: left;
            background-color: lightblue;
            width:120px;
            min-height:620px;
            padding:10px;
        }
        #content {
            float:left;
            padding:20px;
            width:640px;
        }
        #ad {
            float:left;
            width:160px;
            min-height:620px;
            padding:10px;
            background-color: lightblue;
        }
        #footer {
            clear: both;
            background-color: cornflowerblue;
            color:white;
            text-align:center;
            padding:20px;
        }
    </style>
</head>
<body>

    <a href="@Url.Action("Logout", "Login")" style="float:right">log out</a>


    <div id="box">
        <div id="logo">
            <h1>Bank Application</h1>
        </div>

        <div id="nav">
            <a href="@Url.Action("Transfer", "Home")" style="float:right">One-off transfer</a></br></br>
            <a href="@Url.Action("History", "Home")" style="float:right">Operation history</a></br></br>
            <a href="@Url.Action("Card", "Home")" style="float:right">Cards</a></br></br>
        </div>
        
        <div id="content">
            @foreach (var item in Model) {
                <p>Name: @Html.DisplayFor(modelItem => item.Name)</p>
                <p>Surname: @Html.DisplayFor(modelItem => item.Surname)</p>
                <p>Account Number: @Html.DisplayFor(modelItem => item.AccountNumber)</p>
                <p>Balance: @Html.DisplayFor(modelItem => item.Balance) euro</p>
            }
        </div>

        <div id="ad">
            Jakaś reklama
        </div>

        <div id="footer">
            Bank Application &copy; Maciej Jaszczura, Małgorzata Kucharska
        </div>
    </div>

</body>
</html>
